
/* universal part */
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header part design */
.header{
    background-image: url(../images/banner/banner3.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-section{
    text-align: right;
    padding: 216px 230px 350px 700px;
    
}
.title-text{
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    text-align: right;
}
.title-paragraph{
    margin: 25px 0 32px 0;
    color: #FFFFFF;
}
.btn-primary{
    padding: 20px 25px;
    color: #005FAC;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

/* myself-section design */
.myself-section{}
.myself{
    display: flex;
    align-items: center;
    margin: 0 150px;
}
.my-title{
    font-weight: 800;
    font-size: 40px;
    color: #151414;
    margin-right: 180px;
}
.my-paragraph{
    color: #444343;
    margin-top: 25px;
}
.my-list{
    margin-top: 16px;
    color: #444343;
}
.my-list li{
    list-style: none;
}
/* plan section design */
.plan-section{
    margin-top: 50px;
}
.my-title{
    text-align: center;
}
/* skill section */
.skill-section{}
.skill-content{
    display: flex;
    justify-content: space-between;
    margin: 50px 230px;
}
.skill-text{
    margin-top: 30px;
}
.skill-h{
    font-weight: 700;
    font-size: 25px;
}
.skill-p{
    margin-top: 16px;
    color: #737272;
}

/* linear gradient area design */
.gradient-area{
    margin: 150px 100px;
}
.linear img{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.linear h2{
    margin-top: -230px;
    margin-right: 600px;
    padding-left: 60px;
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.btn-primary{
    margin-left: 60px;
    margin-top: 30px;
}

/* bonus form section design */
.form-section{
    margin: 100px 310px;
    box-sizing: border-box;
    background: #FFF4D6;
    gap: 0px;

}
.form{
    padding: 76px 200px;
}
#u-name{
    padding: 14px;
    font-weight: 500;
    font-size: 16px;
    color: #AA9F9F;
}
.btn{
    padding: 17px 15px;
    border: 0;
    background-color: orange;
    border-radius: 5px;
    color: white;
}

/* footer section design */
.footer-content{
    background: #151414;
    display: flex;
    padding: 150px 200px;
    gap: 300px;
}
.f-title{
    color: white;
    font-weight: 700;
    font-size: 45px;
}
.f-para{
    color: white;
    margin-top: 15px;
}
.f-p{
    margin-top: 15px;
    color: white;
}
.f-img{
    margin-top: 30px;
    padding-right: 60px;
}
/* footer form section */
.footer-form .f-title{
    font-weight: 600;
    font-size: 25px;
}
#f-form{
    padding: 20px 50px;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    background-color:#151414;
}
.f-btn{
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #005FAC;
    border: 0;
    border-radius: 5px;
    padding: 20px 30px;
    margin-top: 30px;
}